{% extends 'base.html.twig' %}

{% block title %}
    Movies Page
{% endblock %}

{% block body %}
    <p>{{ _self }}</p> {# outputs the current twig file #}
    <p>{{ _charset }}</p> {# outputs what charset is being used #}
    <p>{{ author }}</p> {# ouput our global variable that we created in the ~config/packages/twig.yaml #}
    <h1>{{ name ? name: 'NoMovieName' }}</h1>
    <ul>
        {% for movie in movies %}
            <li>{{ movie.name }} - {{ movie.producer }}</li>
        {% endfor %}
    </ul>
{% endblock %}